@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
.hovershadow:hover {
  box-shadow: 3px 2px 39px 0px rgba(188, 45, 45, 0.75);
}
.valide {
  transform: translateX(-100%);
  display: none;
}
